<%- include("partials/header"); -%>

<h1>About</h1>
<p> This is a web application for peopole that love movies. <br>
    Here you can find all the info about the movies that you like. </p>
<%- include("partials/footer"); -%>